/* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Variables */

:root {

  --basic-main: #ffffff;

  --second-basic: #000000;
  --third-basic: #333333;
  --opacity-basic: rgba(255, 255, 255, .3);
  --opacity-additional: rgba(0, 0, 0, .3);

  --accent: #81B3D2;
  --accent-additional-tone: #669EC0;
  --accent-enhanced-tone: #5496BD;
  --accent-neutral: #EEEEEE;

  --additional-accent: #766357;
  --additional-accent-dark: #604E43;
  --additional-accent-extra: #503E33;

  --peripheral-basic: #666666;
  --peripheral-accent: #EBEBEB;
  --peripheral-additional-accent: #F2F2F2;
  --peripheral-additional: #CACACA;
  --petty-bullshit: #ABABAB;
  --petty-bullshit-opacity: rgba(171, 171, 171, 0.3);
  --peripheral: #E5E5E5;

  --disabled-block: #6A6A6A;
  --logo-rest: #231F20;
  --logo-push: #BDBBBC;

  --box-shadow-main: rgba(0, 1, 1, .2);
  --box-shadow-form:  rgba(0, 1, 1, .15);
  --opacity-background: rgba(255, 255, 255, 0.9);
}

/* Global */

.body {
  height: 100%
}
.page-body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--third-basic);
  background-color: var(--peripheral-additional-accent);
}
.main-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px var(--box-shadow-main);
          box-shadow: 0px 5px 15px var(--box-shadow-main);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description-header {
  font-weight: bold;
  font-size: 21px;
  font-size: 21px;
  text-transform: uppercase;
}

/* Grid */

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
}
.main-container {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

/* Main navigation */

.main-navigation {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin: 0 72px;
}

/* Logo */

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

/* Flex */

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.site-navigation li {
  width: 228px;
  text-align: left;
  margin: 0;
  padding:0;
}
.site-navigation li:nth-child(4n),
.site-navigation li:nth-child(4n-1) {
  text-align: right;
}
.site-navigation li:nth-child(4n-1) {
  margin-left: auto;
}
.site-navigation a {
  color: var(--second-basic);
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--accent);
}
.site-navigation a:active {
  color: var(--opacity-additional);
}
.blank {
  color: var(--additional-accent);
}

/* Invitation */

.invitation {
  width: 1200px;
  height: 509px;
  background: var(--accent-enhanced-tone) url(../img/background/background-welcome.jpg) no-repeat 0 0;
  background-size: cover;
}
.invitation-img {
  display: block;
  width: 456px;
  height: 350px;
  margin: 0 auto;
  padding-top: 78px;
}
.invitation-svg {
  display: block;
  width: 1200px;
  height: 57px;
  margin-top: 24px;
}

/*  Slogan */

.slogan {
  width: 1200px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.slogan-town {
  width: 470px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 43px;
  margin-bottom: 43px;
  color: var(--second-basic);
}
.slogan-cause {
  margin-bottom: 51px;
  margin-top: 22px;
  font-size: 14px;
  line-height: 26px;
}

/* Description */

/* Grid */

.description-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 0 400px 0 400px;
  grid-template-columns: repeat(3, 400px);
  -ms-grid-rows: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  margin: 0;
  padding: 0;
  gap: 0;
}

.description-section > *:nth-child(1) {

  -ms-grid-row: 1;

  -ms-grid-column: 1;
}

.description-section > *:nth-child(2) {

  -ms-grid-row: 1;

  -ms-grid-column: 3;
}

.description-section > *:nth-child(3) {

  -ms-grid-row: 1;

  -ms-grid-column: 5;
}

.description-section > *:nth-child(4) {

  -ms-grid-row: 3;

  -ms-grid-column: 1;
}

.description-section > *:nth-child(5) {

  -ms-grid-row: 3;

  -ms-grid-column: 3;
}

.description-section > *:nth-child(6) {

  -ms-grid-row: 3;

  -ms-grid-column: 5;
}

.description-section > *:nth-child(7) {

  -ms-grid-row: 5;

  -ms-grid-column: 1;
}

.description-section > *:nth-child(8) {

  -ms-grid-row: 5;

  -ms-grid-column: 3;
}

.description-section > *:nth-child(9) {

  -ms-grid-row: 5;

  -ms-grid-column: 5;
}
.description-item {
  margin: 0;
  padding: 0;
  text-align: center;
}
.img-town {
  grid-column: 2 / -1 ;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}
.img-canyon {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}
.description-header {
  width: 150px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
  margin-top: 47px;
  margin-bottom: 26px;
}
.description-item-text {
  width: 301px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 54px;
}
.description-header-interest {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 26px;
  color: var(--second-basic);
}
.description-text-interest {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 82px;
  color: var(--third-basic);
}
.description-text-advantages {
  width: 261px;
}
.description-header-advantages {
  color: var(--second-basic);
}
.description-item:first-of-type,
.description-item-color {
  background-color: var(--accent);
  color: var(--basic-main);
}
.advantages {
  background-color: var(--accent-neutral)
}
.housing::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 72px;
  margin-top: 60px;
  background: url(../img/icons/icon-house.svg) no-repeat 0 0;
}
.food::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 70px;
  margin-top: 61px;
  background: url(../img/icons/icon-burger.svg) no-repeat 0 0;
}
.souvenirs::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 77px;
  margin-top: 55px;
  background: url(../img/icons/icon-souvenirs.svg) no-repeat 0 0;
}

/* Offer */

.offer {
  position: relative;
  text-align: center;
  line-height: 24px;
}
.offer-interest {
  width: 297px;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin-left: 446px;
  margin-top: 57px;
  margin-bottom: 36px;
  color: var(--second-basic);
}
.offer-indicate {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 128px;
}

/* Form */

.indicate {
  position: absolute;
  width: 568px;
  top: 150px;
  left: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: -284px;
  text-align: center;
}

/* Flex */

.indicate-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--basic-main);
  -webkit-box-shadow: 0px 7px 15px var(--box-shadow-form);
          box-shadow: 0px 7px 15px var(--box-shadow-form);
}
.indicate-container {
  width: 458px;
  margin: 55px auto 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var( --second-basic);
}
.indicate-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
}
.indicate-form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--second-basic);
}
.indicate-form input::-moz-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--second-basic);
}
.indicate-form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--second-basic);
}
.indicate-form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--second-basic);
}
.indicate-form input::placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--second-basic);
}
.indicate-item-link {
  position: absolute;
  display: block;
  top: 7px;
  right: 9px;
}
.button.button-find {
  margin-top: 26px;
  margin-bottom: 53px;
}
.indicate-date {
  position: relative;
  background: var(--peripheral-additional-accent);
  border: none;
  width: 346px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding: 6px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.input-people {
  width: 114px;
  text-align: center;
  margin: 0;
  padding: 11px 0;
  border: none;
  outline: none;
  font-weight: bold;
  background: var(--peripheral-additional-accent);
}
.label-kids {
  margin-right: -23px;
}
.label-adult {
  margin-right: -12px;
}

.indicate-form input:hover {
  background: var(--peripheral-accent);
}
.indicate-form input:focus {
  background: var(--basic-main);
  outline: 2px solid var(--peripheral);
  color: var(--opacity-basic);
}
.indicate-item-color:hover,
.indicate-item-color:focus,
.indicate-item-link:hover path,
.indicate-item-link:focus path {
  fill: var(--second-basic);
}
.indicate-item-color:active,
.indicate-item-link:active path {
  outline: 2px solid var(--peripheral-additional-accent);
  border: 2px solid var(--peripheral-additional-accent);
  fill: var(--accent);
}
.button.indicate-close {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 568px;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 31px;
  background-color: var(--additional-accent);
}
.indicate-item-button {
  position: absolute;
  width: 30px;
  border: none;
  background: none;
  vertical-align: middle;
}
.button-plus-right {
  top: 13px;
  right: 5px;
}
.button-plus-left {
  top: 13px;
  left: 189px;
}
.button-minus-right {
  top: 8px;
  right: 81px;
}
.button-minus-left {
  top: 8px;
  left: 115px;
}
.indicate-form-close {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  overflow: hidden
}
.indicate-form-open {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow: hidden;
}

/* Map */

.map {
  width: 1199px;
  height: 594px;
  border: none;
  background: var(--accent) url(../img/background/map.png) no-repeat 0 0;
}

/* Main footer */

/* Flex */

.main-footer {
  position: relative;
  margin-top: -120px;
  color: var( --second-basic);
  background: var(--opacity-background);
}
.main-footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 328px 36px 328px 36px 328px;
  grid-template-columns: repeat(3, 328px);
  gap: 36px;
  text-align: center;
  vertical-align: middle;
  margin: 0 73px;
}
.catalog-footer {
  margin-top: 0;
}
.footer-phone,
.footer-phone a {
  color: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 36px 0;
}
.footer-social-list {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  background: var(--accent);
}
.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-copyright a {
  margin-left: 9px;
}
.phone {
  margin-left:-5px;
  padding-top: 20px;
}
/*==============================================================*/

/* Catalog */

/* Selection */

/* Grig */

.selection {
  margin: 0;
  padding: 0;
  color: var(--basic-main);
  background: var(--accent-enhanced-tone) url(../img/background/background-catalog.png) no-repeat 0 0;
  background-size: cover;
}
.selection-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.selection-prise {
  grid-column: 2 / -1;
}

/* Flex */

.selection-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 72px;
  padding: 26px 0 32px 0;
}
.selection-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
.selection ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.selection-fieldset {
  width: 254px;
  margin: 0;
  padding: 0;
  border: none;
}
.selection-option {
  padding-left: 39px;
}
.selection-option label {
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selection-option,
.selection-form legend {
  padding-bottom: 25px;
}
.selection-input-checkbox + label::before {
  content: "";
  position: absolute;
  display:block;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  background: url(../img/icons/checkbox-off.svg) 0 0 no-repeat;
}
.selection-input:focus + label::before,
.selection-input:focus + label::after {
  outline: none;
}
.selection-input:focus-visible + label::after,
.selection-input:focus-visible + label::before {
  outline: 5px auto -webkit-focus-ring-color;
}
.selection-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: -39px;
  width: 27px;
  height: 23px;
  background: url(../img/icons/checkbox-on.svg) 0 0 no-repeat;
}
.selection-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  display: none;
  top: 0px;
  left: -39px;
  width: 27px;
  height: 23px;
  background: url(../img/icons/checkbox-off.svg) 0 0 no-repeat;
}
.selection-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  background: url(../img/icons/checkbox-off-disabled.svg) 0 0 no-repeat;
}
.selection-input-checkbox:checked:disabled + label::after{
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 27px;
  height: 23px;
  background: url(../img/icons/checkbox-on-disabled.svg) 0 0 no-repeat;
}
.selection-option:last-child {
  padding-bottom: 0;
}
.selection-label {
  padding-left: 3px;
}
.filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  border: none;
  margin-left: auto;
}
.button-selection {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.active-up-down a{
  color: var(--accent);
}
.selection-input-checkbox:hover + label,
.selection-input-checkbox:focus + label {
  color: var(--basic-main);
}
.selection-input-checkbox:disabled {
  color: var(--check-block);
}

/* Filter */

.filter-item legend {
  padding: 0;
  margin-bottom: 11px;
}
.range-filter {
  width: 317px;
}
.range-controls {
  position: relative;
  margin-top: 10px;
  padding-top: 9px;
}
.range-controls .scale {
  height: 2px;
  background: var(--opacity-basic);
}
.range-controls .bar {
  width: 253px;
  height: 2px;
  background: var(--basic-main);
}
.range-controls .toggle {
  position: absolute;
  top: 0px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-main);
  background-color: var(--petty-bullshit);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 var(--petty-bullshit-opacity);
          box-shadow: 0 2px 0 0 var(--petty-bullshit-opacity);
}
.range-controls .toggle-max {
  left: 253px;
}
.toggle:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.price-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--basic-main);

}
.price-controls input {
  width: 40%;
  margin: 7px 0;
  background: none;
  border: none;
  padding-right: 29px;
  border-right: 2px solid var(--basic-main);
  color: var(--basic-main);
}
.max-price input {
  border: none;
}
.min-price {
  padding-left: 65px;
}
.max-price {
  padding-left: 46px;
}

/* Sorting  */

/* Flex */

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sorting-span {
  font-size: 21px;
  font-weight: bold;
  margin: 32px 47px 34px 72px;
}
.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  color: var(--second-basic);
  margin-right: 40px;
  margin-top: 5px;
}
.sorting ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 18px;
}
.sorting-list li {
  margin-top: -3px;
}
.sorting-button {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 34px;
  margin-left: auto;
  margin-right: 74px;
}
.sorting-link {
  margin-right: 32px;
  color: var(--opacity-additional);
  border-bottom: 1px dotted var( --accent);
}
.sorting-link:hover,
.sorting-link:focus {
  color: var(--accent);
}
.sorting-link:active {
  color: var(--second-basic);
  border-bottom: none;
}
.sorting-link-active {
  color: var(--accent);
  border-bottom: none;
}
.sorting-link-down:hover path,
.sorting-link-down:focus path,
.sorting-link-up:hover path,
.sorting-link-up:focus path {
  fill: var(--second-basic);
}
.sorting-link-down:active path,
.sorting-link-up:active path{
  fill: var(--accent);
}
.sorting-link-up path {
  fill: var(--peripheral-additional);
}

/* Result */

.result,
.result-list,
.result-item,
.result-item p,
.result-item a,
.result-buttons a,
.result-rating {
  margin: 0;
  padding: 0;
}
.result-item-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
  color: var(--second-basic);
}
.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0 72px;
}
.result-img {
  padding: 30px 29px 31px 0;
}
.result-link-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 258px;
}
.result-link-hotel a {
  margin: 24px 0 7px 0;
}
.result-item-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.result-item-hotel p {
  width: 116px;
}
.result-buttons a {
  margin-top: 15px;
}
.result-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.result-star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 110px;
  margin-left: auto;
  margin-top: 28px;
  margin-bottom: 30px;
  padding: 0;
}
.result-star {
  height: 17px;
  background-image: url(../img/icons/star.svg);
  background-repeat: space;
}
.star-hotel {
  width: 92px;
}
.star-motel {
  width: 66px;
}
.star-apartments {
  width: 43px;
}
.result-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  padding: 4px 0;
  color: var(--peripheral-basic);
  background: var(--peripheral-additional-accent);
}
/*==============================================================*/

/* Buttons */

.button {
  background: var(--accent);
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-main);
}
.btn:focus {
  outline: none;
}
.btn:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}
.button-find {
  width: 458px;
  padding: 17px 0;
  margin: 0 auto;
}
.button-find:hover,
.button-find:focus,
.social-button:hover,
.social-button:focus,
.button-detail:hover,
.button-detail:focus {
  background-color: var(--accent-additional-tone);
}
.button-find:active,
.button-detail:active {
  background-color: var(--accent-enhanced-tone);
  color: var(--opacity-basic);
}
.social-button:active path {
  fill: var(--opacity-basic);
}
.logo-academy:hover path,
.logo-academy:focus path {
  fill: var(--accent-additional-tone);
}
.logo-academy:active path {
  fill: var(--logo-push);
}
.button-selection {
  width: 137px;
  padding: 8px 0;
  margin-left: -12px;
  text-align: center;
  font-size: inherit;
  font-weight: normal;
  color: var(--basic-main);
  border: 2px solid var(--basic-main);
  border-radius: 2px;
  background-color: transparent;
}
.button-selection:hover,
.button-selection:focus {
  color: var(--second-basic);
  background-color: var(--basic-main);
}
.button-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 110px;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--basic-main);
}
.button-detail {
  background: var(--accent);
}
.button-reservation {
  width: 142px;
  background: var(--additional-accent);
 }
 .result-item-link:hover,
 .result-item-link:focus {
   color: var(--accent);
}
.result-item-link:active {
  color: var(--opacity-additional);
}
.indicate-close:hover,
.indicate-close:focus,
.button-reservation:hover,
.button-reservation:focus {
  background-color: var(--additional-accent-dark);
}
.indicate-close:active,
.button-reservation:active {
  background-color: var(--additional-accent-extra);
  color: var(--opacity-basic);
}
