/* Variables */

:root {

  --basic-main: #ffffff;

  --basic-font: #000000;
  --basic-font-light: #333333;
  --opacity-font: rgba(255, 255, 255, .3);

  --accent: #81B3D2;
  --accent-dark: #669EC0;
  --accent-extra: #5496BD;

  --additional-accent: #766357;
  --additional-accent-dark: #604E43;
  --additional-accent-extra: #503E33;

  --basic-extra-gray: #666666;
  --basic-dark-gray: #888888;
  --basic-gray: #A9A9A9;
  --basic-light-gray: #CACACA;
  --basic-neutral: #EEEEEE;
  --basic-light: #EBEBEB;
  --basic-extra-light: #F2F2F2;

  --check-block: #6A6A6A;
  --slider: #ABABAB;
  --border-focus: #E5E5E5;

  --logo-rest: #231F20;
  --logo-push: #BDBBBC;

  --box-shadow-main: rgba(0, 1, 1, .2);
  --box-shadow:  rgba(0, 1, 1, .15);


}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-font-light);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
}
.main-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px var(--box-shadow-main);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.invisible {
    display: none;
  }
.description-header {
  font-weight: bold;
  font-size: 21px;
}

/* Main navigation */

.main-navigation {
  font-weight: bold;
  line-height: 26px;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: var(--basic-font);
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--accent);
}
.site-navigation a:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Invitation */

.invitation {
  width: 1200px;
  height: 509px;
  background:
  url(../img/welcome.png) no-repeat 50% 50%,
  var(--accent) url(../img/background/background-welcome.jpg) no-repeat 0 0;
}

/*  Slogan */

.slogan {
  width: 1200px;
  height: 216px;
  line-height: 26px;
  text-align: center;
}
.slogan-town {
  width: 470px;
  height: 80px;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-font);
  margin: 0 auto;
  margin-top: 43px;
}
.slogan-cause {
  margin-bottom: 51px;
  line-height: 26px;
}

/* Description */

.description {
  text-align: center;
  margin: 0;
  padding: 0;
}
.description-list, .advertising-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-item:first-of-type,
.description-item:nth-of-type(2)  {
  background-color: var(--accent);
  color: var(--basic-main);
}
.advertising-list {
  background-color: var(--basic-main);
  color: var(--basic-font-light);
}
.advertising-list h4,
.advantages h3 {
  color: var(--basic-font);
}
.advantages {
  background-color: var(--basic-neutral)
}


/* Offer */

.offer {
  text-align: center;
}
.offer-interest {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-font);
}
.offer-indicate {
  line-height: 24px;
}


/* Map */

.map {
  width: 1199px;
  height: 594px;
  background: var(--accent) url(../img/background/map.png) no-repeat 0 0;
}


/* Footer */

.footer-phone,
.footer-phone a {
  color: inherit;
  font-size: 21px;
  line-height: 26px;
}
.footer-social ul {
  list-style: none;
}
.footer-social a {
  background: var(--accent);
}


/* Form */

.indicate {
  width: 568px;
  height: 481px;
  box-shadow: 0px 7px 15px var(--box-shadow);
  text-align: center;
  line-height: 26px;
  font-weight: bold;
}

/*==============================================================*/

/* Catalog */

.page {
  color: var(--additional-accent);
}

/* Selection, Sorting */

.selection {
  margin: 0;
  padding: 0;
  color: var(--basic-main);
  background: var(--accent-extra) url(../img/background/background-catalog.png) no-repeat 0 0;
}

.selection legend,
.selection-prise label {
  font-size: 16px;
  font-weight: bold;
}
.selection ul,
.sorting ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selection-input-checkbox:hover + label,
.selection-input-checkbox:focus + label {
  color: var(--basic-main);
}
.selection-input-checkbox:disabled {
  color: var(--check-block);
}

.sorting {
  display:inline-block;
  height: 87px;
}
.sorting h2,
.sorting p {
  font-weight: bold;
  font-size: 21px;
}
.sorting ul,
.sorting h3 {
  font-size: 12px;
  line-height: 18px;
}
.sorting h3 {
  color: var(--basic-font);
}
.sorting-link-active {
  color: var(--accent);
}
.sorting-link {
  color: var(--basic-font);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.sorting-link:hover,
.sorting-link:focus {
  color: var(--accent);
  opacity: 1;
}
.sorting-link:active {
  color: var(--basic-font);
  opacity: 1;
}
.sorting-link-down,
.sorting-link-up {
  color: var(--basic-light-gray);
}
.sorting-link-down:hover,
.sorting-link-down:focus,
.sorting-link-up:hover,
.sorting-link-up:focus {
  color: var(--basic-font);
}
.sorting-link-down:active,
.sorting-link-up:active {
  color: var(--accent);
}

/* Result */

.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.result-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-font);
}
.result-star {
  color: var(--accent);
}
.result-rating {
  background: var(--basic-extra-light);
}
/*==============================================================*/

/* Buttons */

.button {
  background: var(--accent);
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-main);
  outline: none;
}
.button-find {
  width: 458px;
  height: 58px;
}
.button-find:hover,
.button-find:focus,
.social-button:hover,
.social-button:focus,
.button-detail:hover,
.button-detail:focus {
  background-color: var(--accent-dark);
}
.button-find:active,
.button-detail:active {
  background-color: var(--accent-extra);
  color: var(--opacity-font);
}
.social-button:active path{
  background-color: var(--accent-extra);
  fill: var(--opacity-font);
}
.indicate-close {
  display: block;
  width: 568px;
  height: 86px;
  text-align: center;
  background-color: var(--additional-accent);
}
.indicate-close:hover,
.indicate-close:focus,
.button-reservation:hover,
.button-reservation:focus {
  background-color: var(--additional-accent-dark);
}
.indicate-close:active,
.button-reservation:active {
  background-color: var(--additional-accent-extra);
  color: var(--opacity-font);
}

.logo-academy:hover,
.logo-academy:focus {
  fill: var(--accent-dark);
}
.logo-academy:active {
  fill: var(--logo-push);
}
.indicate-form input[type="date"],
.indicate-form input[type="number"] {
  background: var(--basic-extra-light);
  font-weight: bold;
  border: none;
}
.indicate-form input:hover {
  background: var(--basic-light);
}
.indicate-form input:focus {
  background: var(--basic-main);
  outline: 2px solid var(--border-focus);
  color: var(--opacity-font);
}
.indicate-calendar:hover,
.indicate-calendar:focus {
  fill: var(--basic-font);

}
.indicate-calendar:active {
  fill: var(--accent);
}
.button-selection {
  width: 137px;
  height: 36px;
  padding: 0;
  text-align: center;
  font-size: inherit;
  font-weight: normal;
  color: var(--basic-main);
  border: 2px solid var(--basic-main);
  border-radius: 2px;
  background-color: transparent;
}
.button-result {
  display: block;
  margin: 0;
  padding: 0;
  width: 110px;
  height: 27px;
  font-weight: bold;
  color: var(--basic-main);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.button-detail {
  background: var(--accent);
 }
.button-reservation {
  background: var(--additional-accent);
 }
